asgiref
attrs
autobahn
Automat
cbor2
certifi
cffi
channels
channels_redis
charset-normalizer
cloudinary
constantly
cryptography
daphne
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
djangorestframework
hyperlink
idna
Incremental
msgpack
packaging
pillow
psycopg2-binary
py-ubjson
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
python-dotenv
redis
requests
service-identity
six
sqlparse
Twisted
txaio
typing_extensions
ujson
urllib3
zope.interface
uvicorn[standard]
